.main{
    width: 100%;
    height: 100%;
}

.sider{
    height: 100%;
}

.header {
    width: 100%;
    height: 4vh;
    line-height: 4vh;
}

.content {
    height: 96vh
}

.logo {
    $h: 2vh;

    margin: 1vh;

    font-size: 1.2vw;
    font-weight: bold;
    height: $h;
    line-height: $h;
    //text-align: center;

    color: #dadada;
}